.btn {
    /* margin-top: 0px; */
    background-color: #2980b9;
    color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5%;
    margin: 10px;
}

.output {
    margin: 50px 0 0 0;
    padding: 25px;
}